
#shopby {
    display: block;
    height: 125px;
    width: 120px;
    font-size: .8em;
    text-align: column;
    text-decoration: none;
    color: gray;
    padding: 10px;
    list-style-type: none;
}
#aboutus {
    display: block;
    list-style-type: none;
    padding: 10px;
    height: 125px;
    width: 120px;
    text-align: column;
    text-decoration: none;
    color: gray;
    font-size: .8em;
}
#styleguide2 {
    display: block;
    padding: 10px;
    height: 125px;
    width: 120px;
    text-align: column;
    text-decoration: none;
    color: gray;
    font-size: .8em;
    list-style-type: none;
}
#help {
    display: block;
    padding: 10px;
    height: 125px;
    width: 120px;
    text-align: column;
    text-decoration: none;
    color: gray;
    font-size: .8em;
    list-style-type: none;
}

 ul{
    list-style-type: none;
    }
