.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fa6938;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    height: 35px;
    font-size: 13px;
    text-align: center;
    padding-left: 80px;
    padding-right: 500px;
}

.logo {
    display: flex;
    justify-content: space-around;
    padding-left: 40px; 
    height: 140px;
    font-size: 24px;
    align-items: row;
}
#skinnyties{
    img {
        width: 150px;
    }
}
#cart {
    display: flex;
    margin: 25px;
    height: 25px;
    align-items: row;
    border: 2px solid $background;
    margin-bottom: 0;
    margin-top: 50px;
    color: gray;
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px;
}
#magnify {
    display: flex;
  height: 25px;
  align-items: row;
  border: 2px solid #f4f4f4;
  margin-bottom: 0;
  margin-top: 25px;
  padding-right: 25px;
  color: gray;
  font-family: 'Titillium Web', sans-serif;
  font-size: 10px; }
